// Specific CSS for your home-page
$home-body-height: calc(100vh - 70px);

.home-body {
  background-color: $sunnyside-up-yellow;
  height: $home-body-height;
  overflow: hidden;
}

p {
  color: $hash-brown
}

.egg-container {
  position: relative;
  height: 500px;
  background-image: url('/assets/bkgd_egg-1f31281a2b0b10f0cf6d54917921489ccfd55bc84bdfe3e323d2a6bae2dce1ba.png');
  background-size: 300px;
  background-repeat: no-repeat;
  background-position-x: 120%;
  background-position-y: 92%;
  background-attachment: fixed;
  overflow: visible;
}

@media (min-width: 430px) {
  .egg-container {
    background-position-x: 102%;
  }
}


.logo-title-container {
  display: flex;
  justify-content: center;
}

@media (min-width: 750px) {
  .logo-title-container {
      display: flex;
      justify-content: start;
      padding-left: 50px;
      padding-top: 50px;
    }
}
