// Specific CSS for your home-page
$home-body-height: calc(100vh - 70px);

.home-body {
  background-color: $sunnyside-up-yellow;
  height: $home-body-height;
  overflow: hidden;
}

p {
  color: $hash-brown
}

.egg-container {
  position: relative;

  img {
    position: absolute;
    right: -35px;
    bottom: -430px;
    width: 300px
  }
}
