// Specific CSS for your home-page
$home-body-height: calc(100vh - 70px);

.home-body {
  background-color: $sunnyside-up-yellow;
  height: $home-body-height;
}

p {
  color: $hash-brown
}

.egg-container {
  position: absolute;
  bottom: 0;
  right: -35px;
  overflow: hidden
}
