// Import page-specific CSS files here.
@import "home";
@import "show";
@import "favorites";
@import "visit_edit";


$index-map-height: calc(100vh - 144px);

.background {
  background-color: $runny-egg-yellow;
}

p {
  color: $hash-brown
}

h2 {
  color: $hash-brown
}


@media (min-width: 100px) {
  .map-height-resp {
    height: $index-map-height !important;
  }
}
