// Import page-specific CSS files here.
@import "home";
@import "show";
@import "visit_edit";

.background {
  background-color: $runny-egg-yellow;
}

p {
  color: $hash-brown
}

h2 {
  color: $hash-brown
}