<div class ="container">
  <div class="row">
    <h1 class="text-center">My Brunching History</h1>
    <hr class="text-center w-25 m-auto border border-1 border-primary opacity-100 mb-3">
  </div>

  <div class="row">
    <% @visits.each do |visit| %>
      <div class=" d-flex justify-content-center">
        <div class="card-product justify-content-between" style="height: max-content; padding: 6px">

          <div>
            <h3 class="fs-6"><%= link_to visit.restaurant.name, restaurant_path(visit.restaurant) %></h3>
            <p style="font-style: italic; font-size: 12px;">On <%= visit.date.strftime("%A %b %d") %></p>
            <p style="font-size: 12px;"><b>Wait-time:</b><%= visit.restaurant.wait_time %> min</p>

          </div>

          <div class="p-2 align-items-center">
             <%= link_to 'Go again →', restaurant_path(visit.restaurant)%>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>
