<% if notice %>
  <div class="alert alert-info alert-dismissible alert-centered fade show m-1" role="alert"
        data-controller="close-alert">
    <h2><%= notice %></h2>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
            data-close-alert-target="thankAlert"
            data-action="click->close-alert#connect">>
    </button>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
