<% if notice %>
  <div class="d-flex justify-content-center">
    <div class="alert alert-info alert-dismissible alert-centered fade show m-1" role="alert"
          data-controller="close-alert">
      <h2><%= notice %></h2>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
              data-close-alert-target="thankAlert"
              data-action="click->close-alert#connect">
      </button>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="d-flex justify-content-center">
    <div class="alert alert-warning alert-dismissible alert-centered fade show m-1" role="alert">
      <%= alert %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      </button>
    </div>
  </div>
<% end %>
