<div class="footer">
  <div class="footer-copyright">
    © 2022 brunchtime, inc.
  </div>
  <div class= "d-flex align-items-center justify-content-between">
    <i class="fas fa-globe"></i> <span style="margin-left: 3px;">English (CA)</span>
  </div>

</div>
