<div class="home-body">

  <div class="container">
    <div class="d-flex justify-content-center">
      <%= image_tag "Brunchtimelogo.png", class: "logo py-5" %>
    </div>
    <div class="">
      <p><strong>Queue no more</strong></p>
      <%= link_to 'Find a spot', restaurants_path, class: "brunch-button" %>
    </div>
  </div>

  <div class="egg-container">
  </div>

</div>
