<div class="home-body">

  <div class="container">
    <div class="d-flex py-5">
      <%= image_tag "Brunchtimelogo.png", style: "width: 450px" %>
    </div>
    <div>
      <p><strong>Queue no more</strong></p>
      <%= link_to 'Find a spot', restaurants_path, class: "brunch-button" %>
    </div>
  </div>


  <div class="egg-container">
    <%= image_tag "bkgd_egg.png" %>
  </div>

</div>
