<div class="home-body">

  <%= image_tag "Brunchtimelogo.png", style: "width: 500px" %>
  <%= image_tag "bkgd_egg.png" %>

  <p><strong>Queue no more</strong></p>

  <%= link_to 'Find a spot', restaurants_path, class: "brunch-button" %>

</div>
