<div class="home-body">

  <%= image_tag "Brunchtimelogo.png" %>
  <%= image_tag "bkgd_egg.png" %>

  <p>Queue no more!</p>

  <%= link_to 'Find a spot', restaurants_path, class: "brunch-button" %>

</div>
