<div class="home-body">

  <div class="container">
    <div class="d-flex justify-content-center">
      <%= image_tag "Brunchtimelogo.png", class: "logo py-5" %>
    </div>
    <div class="">
      <p class="mb-2" style="font-size: 19px"><strong>Queue no more! </strong></p>
      <p class="pb-4" style="font-size: 18px">Find the right brunch at the right time. </p>
      <%= link_to 'Find a spot', restaurants_path, class: "brunch-button" %>
    </div>
  </div>

  <div class="egg-container">
  </div>

</div>
