<div class=border-solid>
<h6 ><em><%= link_to restaurant.name, restaurant_path(restaurant), class: "popup-focus" %></em></h6>
<p><b>Wait-time: </b><%= restaurant.wait_time %> min</p>
<p><b>Address: </b><%= restaurant.address %></p>
</div>
