<div class=border-solid>
<h6 ><em><%= link_to restaurant.name, restaurant_path(restaurant), class: "popup-focus" %></em></h6>
<p><b><%= restaurant.wait_time %></b></p>
<small style="color:brown;"><%= restaurant.address %></small>
</div>
