.alert {
  position: fixed;
  z-index: 1;
  padding: 50px;
  top: 50vh;
  width: 300px;
  border-radius: 5px;
  background-color: $sunnyside-up-yellow;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
}
