.alert {
  position: fixed;
  z-index: 1000;
  padding: 60px;
  top: 50vh;
  right: 82px;
  border-radius: 5px;
  background-color: $sunnyside-up-yellow;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  // bottom: 16px;
  // right: 16px;
}
