.brunch-button {
  background-color: $reem-green;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  padding: 8px 16px;
}

.brunch-button:hover {
  background-color: #00ab80;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  padding: 8px 16px;
}
