.card-product {
    overflow: hidden;
    height: 150px;
    background: #FCEFB4;
    border-radius: 5px;
    // box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    display: inline-flex;
    align-items: center;
    margin: 10px;
    padding-left: 15px;
    width: 700px;
    a {
        text-decoration: none;
        color: inherit;
    }
}

.card-product img {
    height: 100px;
    width: 110px;
    object-fit: cover;
}

.card-product h2 {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}

.card-product h6 {
    margin-top: 10px;
}

.card-product p {
    font-size: 10px;
    line-height: 1.2;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
}

.card-product .card-product-infos {
    padding: 12px;
}

.card-product-infos a {
    text-decoration: none;
    color: #58370E;
    font-weight: 200;
}

.card-product-infos a:hover {
    color: #7F8487;
}

// for restaurant show page
.card-category {
    background-size: cover;
    background-position: center;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.reviews-list {
  position: absolute;
  bottom: 55px;
  margin: 0;
  padding: 10px;
  width: 120%;
  background: white;
  border-radius: 4px;
  list-style: none;
  height: 250px;
  overflow-y: scroll;
}

.review-cards {
  background-color: #FFFDF7;
  border-bottom: 1px solid grey;
  margin-bottom: 15px;
  position: relative;
  width: 94%;
  margin: 0 auto;
  min-height: 90px;
  height: fit-content;
}

.review-date {
    max-width: 126px;
    text-align: end;
}

.accuracy-rating p {
    margin-bottom: 0 !important;
}

.feedback {
    font-size: 14px;
    margin: -2px;
}
