.footer {
    position: absolute;
    background: $egg-whites;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    bottom: 0;
    padding: 0px 10px;
    color: #58370E;
}