.color {
  background-color: white;
}

.form-style {
  font-size: 15px;
  height: 35px;
  margin: 0 10px;
}

select:focus {
  outline: none;
}

.focus-class:focus-visible {
  border: none;
  outline: 3px solid $sunnyside-up-yellow;
}
