.color {
  background-color: white;
}

.form-style {
  font-size: 14px;
  color:#58370E;
  height: 35px;
  margin: 0 6px;
}

select:focus {
  outline: none;
}

.focus-class:focus-visible {
  border: none;
  outline: 3px solid $sunnyside-up-yellow;
}

.focus-class:focus {
  border: none;
  outline: 3px solid $sunnyside-up-yellow;
  box-shadow: none;
  background-color: white;
}

.form-control {
  width: 280px;
  border-radius: 5px;
}

.text-muted {
  --bs-text-opacity: 1;
  // color: #58370E !important;
  border-radius: 5px;
  border: 1px solid #ced4da;
}
