.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.brown-link {
  color: $hash-brown !important;
  text-decoration: none;
}

.brown-link:hover {
  background-color: #e9ecef !important
}
.brown-link a:active {
  background-color: #e9ecef !important
}

.navbar-override {
  flex-direction: row !important
}

.navbar-z-index {
  z-index: 1 !important;
  position: absolute !important
}
